html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.main-wrapper::before,
.main-wrapper::after {
    content: "";

    visibility: hidden;
}

.main-wrapper::before {
    background-image: url("../img/slides_icecreams_2.png");
}

.main-wrapper::after {
    background-image: url("../img/slides_icecreams_3.png");
}

.main-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-position: top center;
    background-repeat: no-repeat;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-wrapper.background {
    background-image: url("../img/slides_icecreams_1.png");
}


.site-navigation,
.banners-list,
.catalog-sorts,
.catalog-list,
.features-list,
.footer-social,
.footer-docs,
.login-password-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation {
    background-color: rgba(255, 0, 0, 0.2);
}

.site-navigation {
    background-color: rgba(255, 0, 0, 0.2);
    margin-left: 11px;
}

.catalog-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navigation-item,
.catalog-item a,
.breadcrumbs a,
.footer-copyright a {
    color: #ffffff;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.main-header {
    margin-bottom: 40px;
}

.header-info {
    text-align: right;
    margin-left: auto;
}

.header-info p {
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    padding-top: 9px;
}

.main-navigation,
.user-navigation,
.site-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-item {
    position: relative;
    padding: 7px 13px;
    margin-right: 2px;
}

.navigation-item::after,
.footer-docs-item::after,
.footer-copyright-item::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 13px;
    width: calc(100% - 26px);
    height: 1px;
    background-color: #ffffff;
    opacity: 0.3;
}

.navigation-catalog {
    position: relative;
}

.navigation-catalog .navigation-item:hover ~ .navigation-lining,
.navigation-lining:hover {
    display: block;
}

.navigation-item:hover {
    background-color: #f7f6f3;
    border-radius: 100px;
    color: #333333;
}

.user-navigation {
    justify-content: flex-end;
}

.slider,
.banners,
.catalog,
.features,
.wrapper {
    margin-bottom: 40px;
}

.slider {
    position: relative;
    padding-top: 235px;

    text-align: center;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide {
    display: none;
}

.slider-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 20;

    font-size: 0;
}


.slider-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#slide-1:checked ~ .main-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slides_icecreams_1.png");
}

#slide-2:checked ~ .main-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slides_icecreams_2.png");
}

#slide-3:checked ~ .main-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slides_icecreams_3.png");
}

#slide-1:checked ~ .main-wrapper #product-1,
#slide-2:checked ~ .main-wrapper #product-2,
#slide-3:checked ~ .main-wrapper #product-3 {
    display: block;
}

#slide-1:hover ~ .main-wrapper label[for="slide-1"],
#slide-2:hover ~ .main-wrapper label[for="slide-2"],
#slide-3:hover ~ .main-wrapper label[for="slide-3"] {
    background-color: rgb(248, 247, 244, 0.4);
}

#slide-1:checked ~ .main-wrapper label[for="slide-1"],
#slide-2:checked ~ .main-wrapper label[for="slide-2"],
#slide-3:checked ~ .main-wrapper label[for="slide-3"] {
    background-color: #ffffff;
}

.banners-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}

.banners-list-item {
    width: 560px;
    padding: 18px;
    border-radius: 15px;
    z-index: 100;
}

.banners-list-item:nth-child(2n+1) {
    margin-right: auto;
}

.banners-list-item h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.banners-list-item p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 43px;
}

.banners-list-item .button {
    float: right;
    padding: 10px 23px;

    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}


.banners-list-item:first-child {
    background-image: url("../img/bg_malinka.jpg");
    background-color: #ba103c;
    background-size: cover;
}

.banners-list-item:last-child {
    background-image: url("../img/bg_shokoladka.jpg");
    background-color: #5b351e;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation-item:active {
    width: auto;
    border-radius: 22px;
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;

    text-decoration: none;
    white-space: nowrap;
    border: none;

    color: #333333;
}

.footer-docs-item:hover,
.footer-docs-item:active,
.footer-copyright-item:hover,
.footer-copyright-item:active {
    color: #ffbc9e;
}

.navigation-item,
.footer-docs-item,
.footer-copyright-item {
    text-decoration: none;
}

.footer-docs-item:hover::after,
.footer-copyright-item:hover::after,
.footer-docs-item:active::after,
.footer-copyright-item:active::after {
    background-color: #ffbc9e;
}

.navigation-item:hover::after,
.navigation-item:active::after {
    opacity: 0;
}

.navigation-lining,
.login-lining,
.search-lining {
    display: none;
    position: absolute;
    padding: 13px 0;
    right: 0px;
    top: 100%;
    z-index: 300;
}

.navigation-lining {
    left: -7px;
}

.search-lining {
    padding: 5px 0;
}

.navigation-item.active {
    background-color: #d07058;
    border-radius: 100px;
}

.navigation-item.active:hover {
    background-color: #f7f6f3;
}

.slides-switches {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide-radio {
    display: inline-block;
}

.catalog-sorts {
    width: 143px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    border-radius: 5px;
}

.catalog-list-sort {
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #323232;
}

.catalog-list-sort:hover {
    background-color: #fbded8;
}

.catalog-list-sort.first:hover {
    border-radius: 5px 5px 0 0;
}

.catalog-list-sort.last:hover {
    border-radius: 0 0 5px 5px;
}

.catalog-list-sort:active {
    background-color: #f6b5a5;
    color: #323232;
}

.catalog-item {
    position: relative;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-item:not(:nth-of-type(4n)) {
    margin-right: auto;
}

.catalog-item:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #9bafa3;
    border-radius: 5px;
}

.catalog-item:hover > .button {
    display: block;
    position: absolute;
    top: 340px;
}

.catalog-item h3 {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    font-weight: 500;
    order: 1;
}

.catalog-item .button {
    display: none;
    order: 2;
    margin-bottom: 20px;
}

.catalog-item-price {
    line-height: 45px;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 0px;
    top: 180px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price b {
    font-size: 45px;

}

.catalog-item-price a {
    text-decoration: none;
}

.product-image {
    width: 267px;
    height: 267px;
    border-radius: 50%;

}

.catalog-container {
    background-color: rgba(255, 0, 0, 0.5);
    position: relative;
}

.catalog-item.hit::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("../img/label_hit.svg");
    background-size: 61px auto;
    left: 0px;
    align-self: flex-start;
}

.main-navigation {
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
}

.navigation-button {
    border-radius: 100px;
    padding: 8px 17px 8px 45px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
}

.navigation-button:hover {
    width: auto;
    border-radius: 100px;
    padding: 8px 17px 8px 45px;
    background-color: #f8f7f4;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    vertical-align: middle;
    color: #323232;
}

.login-form a:hover,
.blog-item a:hover,
.login-form a:active,
.blog-item a:active {
    color: #e84d37;
}

.catalog-list-sort {
    display: block;
    padding: 0 20px;
}

.mini-basket {
    display: none;
    position: absolute;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    width: auto;

    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.user-basket:hover ~ .mini-basket {
    display: inline-flex;
}

.work-time {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
}

.features {
    color: #323232;
    border-radius: 15px;
    padding: 3px 33px 10px 20px;

    background-image: url("../img/bg_waffle_pattern.jpg");
}

.features p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    padding-left: 56px;
    width: 475px;
    position: relative;
    box-sizing: content-box;
}

.features-item:first-child {
    margin-bottom: 20px;
}

.features-item:first-child::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -15px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon_eskimo.svg");
    background-size: cover;
}

.features-item:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -15px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon_cow.svg");
    background-size: cover;
}

.features-item:nth-child(3)::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -15px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon_leaf.svg");
    background-size: cover;
}

.features-item:last-child::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -15px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon_thermo.svg");
    background-size: cover;
}

.blog {
    width: 560px;
    padding-top: 26px;
    padding-left: 20px;
    color: #323232;
    font-weight: 500;

    background-image: url("../img/bg_blog.jpg");
    background-size: contain;
    background-repeat: round;
    border-radius: 15px;
}

.blog h2 {
    font-size: 16px;
}

.blog-item {
    width: 279px;
    height: 85px;
}

.blog a {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.mailing {
    width: 560px;
    color: #5a5a5a;
    padding: 5px;

    background-image: url("../img/bg_post.png");
    background-repeat: round;
    border-radius: 15px;
}

.post {
    padding: 33px 22px 36px 20px;
    background-color:#f8f7f4;
    border-radius: 15px;
}

.post p {
    margin: 0;
    margin-bottom: 38px;
}

.address {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.map {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    z-index: -1;
    position: absolute;
}

.positioner {
    padding: 62px 0;
    display: flex;
    justify-content: flex-end;
}

.address-ordering {
    padding: 32px 25px;

}

.address-ordering p {
    margin: 0;
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.address-ordering .button {
    white-space: nowrap;
}

.address-ordering b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    background-color: rgba(255, 0, 0, 0.2);
}

.address-ordering {
    width: 302px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 32px;
    padding-left: 25px;
}

.footer-social a {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;

}

.social-button {
    width: 38px;
    height: 38px;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 50%;
}


.social-button::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;

    top: 0px;
    left: 0px;
}

.twitter::before {
    background-image: url("../img/icon_social_twitter.svg");
}

.instagram::before {
    background-image: url("../img/icon_social_instagram.svg");
}

.facebook::before {
    background-image: url("../img/icon_social_facebook.svg");
}

.vk::before {
    background-image: url("../img/icon_social_vk.svg");
}

.footer-social {
    display: flex;
    align-self: flex-end;
    background-color: rgba(255, 0, 0, 0.5);
}

.footer-social li {
    margin-right: 11px;
}

.footer-docs {
    background-color: rgba(255, 0, 0, 0.2);
    column-width: 165px;
    column-gap: 0px;
    width: 375px;
    align-self: flex-end;
}

.footer-docs li {
    margin: 0 auto;
    padding-left: 20px;
    background-color: rgba(255, 0, 0, 0.2);
}

.footer-docs-item {


    position: relative;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.footer-docs b::before {
    content: "";
    position: absolute;

    width: 15px;
    height: 13px;
    background-image: url("../img/icon_heart.svg");
    background-repeat: no-repeat;

    top: 2px;
    left: -20px;
}

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright p {
    margin: 0 auto;
}


.user-search::before {
    content: "";

    position: absolute;
    width: 33px;
    height: 33px;
    background-image: url("../img/icon_magnifier.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px auto;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.2);
}

.user-search:hover::before {
    content: "";

    position: absolute;
    width: 33px;
    height: 33px;
    background-image: url("../img/icon_magnifier_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px auto;
    border-radius: 50%;
    background-color: #f8f7f4;
}



.search a {
    display: block;
    width: 33px;
    height: 33px;
}

.search a:hover {
    display: block;
    width: 33px;
    height: 33px;
    background-color: #f8f7f4;
    border-radius: 50%;
}

.login {
    position: relative;
}

.user-login {
    position: relative;
}

.user-login::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 19px;
    background-image: url("../img/icon_login.svg");
    background-repeat: no-repeat;
    background-size: 21px 19px;

    top: 6px;
    left: 16px;
}

.user-login:hover::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 19px;
    background-image: url("../img/icon_login_2.svg");
    background-repeat: no-repeat;
    background-size: 21px 19px;

    top: 6px;
    left: 16px;
}

.user-basket {
    position: relative;
}

.user-basket::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 20px;
    background-image: url("../img/icon_basket.svg");
    background-repeat: no-repeat;
    background-size: 21px 20px;

    top: 7px;
    left: 16px;
}

.user-basket.active::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 20px;
    background-image: url("../img/icon_basket_full.svg");
    background-repeat: no-repeat;
    background-size: 21px 20px;

    top: 7px;
    left: 16px;
}

.search {
    position: relative;
}

.user-search-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
}

.user-search-form {
    width: 340px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #f8f7f4;
    top: 100%;
    right: 0px;
}

.user-search-form input[type="text"]:hover ~ .user-search-form,
.user-search-form input[type="text"]:active ~ .user-search-form {
    height: calc(100% - 4px);
}

.user-search:hover ~ .search-lining,
.search-lining:hover {
    display: block;
}

.login-form {
    width: 280px;
    padding: 20px 17px 20px 19px;
    border-radius: 5.1px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.login-form p {
    margin-top: 0;
}

.user-login:hover ~ .login-lining,
.login-lining:hover {
    display: block;
}

.login-position {
    display: flex;
    justify-content: space-between;
}

.login-position .button {
    padding: 15px 25px;
}

.login-password-info a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
}

.modal-feedback {
    width: 440px;
    border-radius: 10px;
    background-color: #f8f7f4;

    padding: 20px 24px;
}

.modal-feedback h2 {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}


.feedback-form input,
.login-form input,
.user-search-form input,
.mailing-form input {
    background-color: #ffffff;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
}

.feedback-form input:hover,
.login-form input:hover,
.user-search-form input:hover,
.mailing-form input:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form input:focus,
.login-form input:focus,
.user-search-form input:focus,
.mailing-form input:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    outline: none;
    color: #323232;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #999999;

    padding-left: 15px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.user-search-form input[type="text"] {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;

    padding-left: 15px;
}

.mailing-form {
    display: flex;
}

.mailing-form input[type="email"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    width: auto;
    flex-grow: 1;
    margin-right: 11px;
    padding-left: 15px;
}

.feedback-form-text {
    font: inherit;

    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;

    padding-left: 15px;
}

.basket-price span {
    color: #999999;
}

.basket-price img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.pagination-list ,
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    display: inline-block;
}

.pagination-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.pagination-item {
    width: 26px;
    height: 26px;

    text-align: center;
    line-height: 26px;
    vertical-align: middle;
}

.pagination-item:not(:last-child) {
    margin-right: 10px;
}

.pagination-list a {
    width: 26px;
    height: 26px;
    display: inline-block;

    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.pagination-list a:hover {
    background-color: #9db1a5;
    border-radius: 50%;
}

.pagination-item.pagination-item-current a {
    background-color: #ffffff;
    border-radius: 50%;
    color: #323232;
}

.prev {
    margin-right: 15px;
    position: relative;
}

.prev::before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    transform: scale(-1, 1);
    position: absolute;
    top: 5px;
    right: 10px;
}

.prev.disabled {
    opacity: 0.3;
}

.next {
    margin-left: 15px;
    position: relative;
}

.next::before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 10px;
}

.button {
    display: inline-block;
    padding: 12px 44px;

    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}

.slide-button {
    font-size: 32px;
    line-height: 44px;
    padding: 11px 43px 10px 41px;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    color: #ffffff;
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.button:focus {
    outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
